body{
    width: 900px;
    height: 900px;
    background-color: rgb(230, 116, 116);
}
.bl1{
    height: 100px;
    overflow: hidden;
    background-color:yellow;
}
.bl11{
    width: 450px;
    float: left;
}
.bl12{
    width: 450px;
    float: left;
}
.bl2{
    background-color: teal;
    width: 900px;
    height: 350px;
    float: left;
}
.bl3{
    display: block;
    width: 900px;
    height: 250px;
    background-color:rgb(27, 35, 145);
}
.bl31{
    width: 300px;
    float: left;
}
.bl32{
    width: 300px;
    float: left;
}
.bl33{
    width: 300px;
    float: left;
}
