.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgb(88, 10, 10);
}
.start{
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: rgb(139, 34, 34);
}
header:hover{
    background-color: rgba(32, 178, 171, 0.432);
    transition: 0.3s;
}

.main{
    height: 75%;
    width: 100%;
    background-color: blue;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid black;
}
.left{
    height: 70%;
    width: 34%;
    float: left;
    margin-right: 10px;
    padding-left: 15%;
}
.right{
    height: 70%;
    width: 34%;
    float: left;
    margin-left: 10px;
    padding-right: 15%;
}
.footer{
    width: 100%;
    height: 15%;
    background-color: rgba(100, 148, 237, 0.274);
}
footer:hover{
    background-color: rgb(238, 91, 123);
    transition: 0.5s;
}
h6{
    font-size: 15px;
    background-color: darkslateblue;
}